<% if user_signed_in? %>

  <a href='/restaurants/new'>Add a restaurant</a>

<% end %>

<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <p><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></p>
    <%= image_tag restaurant.image.url(:thumb) %>
    <p>Average rating: <%= star_rating(restaurant.average_rating) %>
      <%= add_review (restaurant) %></p>
    <% end %>
<% else %>
  No restaurants yet!
<% end %>
