/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*GLOBAL FONT STYLES*/

a {
  text-decoration: none;
}

/*SET BOX SIZING*/

* {
  box-sizing: border-box;
}

/*HEADER*/

#header {
  width:100%;
  height:80px;
  font-family: 'Lato';
  background-color: white;
  border-bottom: 2px solid #45ADA8;
  }

  /*ICON*/

#icon {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

/*WORDMARK*/

#wordmark a {
  display: inline;
  float: left;
  background-color: white;
  font-weight: 400 bold;
  font-size: 3em;
  color: #547980;
  margin-left: 40px;
  margin-top: 15px;
}

/*USER-MGT*/

#user-mgt {
  float: right;
  display: block;
  margin-top: 25px;
  margin-right: 20px;
  background-color: white;
  text-align: right;
  font-size: 1.5em;
}

  li {
    margin-top: 5px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    color: #447799;
  }

#add_rest {
  width: 100%;
  font-family: 'Lato';
  font-size: 1.5em;
  text-align: center;
}

/*VIEW RESTAURANTS*/

/*EACH RESTAURANT*/

#each {
  width:50%;
  font-family: 'Lato';
  padding: 20px;
   height:400px;
  }

    #name {
      font-family: 'Lato';
      font-size: 3em;
      font-weight: 400;
      text-align: center;
      margin-top: 10px;
    }

    #image {
      margin-left: 25%;
    }

    #rating {
      font-family: 'Lato';
      font-size: 1em;
      font-weight: bold;
      text-align: center;
    }

    p {
      font-size: 1.5em;
      margin-left: 10px;
    }


#each {
  width:50%;
  padding: 20px;
  float:left;
  height:400px;
  }


  /*FLASH*/

  .notice {
  text-align: center;
  background-color: rgba(67,183,120,0.75);
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}
