/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*GLOBAL FONT STYLES*/

a {
  text-decoration: none;
}
/*SET BOX SIZING*/

* {
  box-sizing: border-box;
}

/*HEADER*/

#header {
  background-color:Yellow;
  width:100%;
  height:100px;
  font-family: 'Lato';
  }

  /*ICON*/

#icon {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  width: 60px;
  height: 60px;
  background-color: black;
}

/*WORDMARK*/

#wordmark h1 {
  display: inline;
  float: left;
  /*font-family: 'Lato';*/
  font-weight: 700;
  font-size: 3em;
  margin-left: 100px;
  margin-top: 20px;
}

/*USER-MGT*/

#user-mgt {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  background-color: white;
  text-align: right;
  /*font-family: 'Lato';*/
  font-size: 1em;
}

#sign-in  {
  margin-top: 5px;
  background-color: orange;
  border: 1px solid red;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

#facebook  {
  margin-top: 5px;
  background-color: red;
  border: 1px solid black;
  border-radius: 5px;
}

.Layout11_1 {
  width:50%;
   background-color:Red;
   height:400px;
   float:left;
  }

.Layout11_2 {
  width:50%;
  background-color:Blue;
  float:left;
  height:400px;
  }

.Layout11_3 {
  width:50%;
  background-color:Green;
  float:left;
  height:400px;
  }

.Layout11_4 {
  width:50%;
  background-color:Orange;
  float:left;
  height:400px;
  }
